In [ ]:
import pandas as pd

df_index_data = pd.read_csv("datasets/indexData.csv")
# print(df_index_data.head())

df_index_info = pd.read_csv('datasets/indexInfo.csv')
# print(df_index_info.head())

df_index_processed = pd.read_csv('datasets/indexProcessed.csv')
# print(df_index_processed.head())

print(df_index_data.describe())
print(df_index_info.describe())
print(df_index_processed.describe())

In [20]:
# find rows in df_index_data but not in df_index_processed
diff = pd.concat([df_index_data, df_index_processed[:-2]]).drop_duplicates(keep=False)
print(diff)

          Index        Date          Open          High           Low  \
0           NYA  1965-12-31    528.690002    528.690002    528.690002
1           NYA  1966-01-03    527.210022    527.210022    527.210022
2           NYA  1966-01-04    527.840027    527.840027    527.840027
3           NYA  1966-01-05    531.119995    531.119995    531.119995
4           NYA  1966-01-06    532.070007    532.070007    532.070007
...         ...         ...           ...           ...           ...
104217  J203.JO  2021-05-21  66124.437500  66771.343750  66124.437500
104218  J203.JO  2021-05-24  66238.929690  66493.132810  65940.257810
104219  J203.JO  2021-05-25  66054.921880  66812.453130  66022.976560
104220  J203.JO  2021-05-26  66076.679690  66446.367190  66030.351560
104221  J203.JO  2021-05-27  66108.226560  66940.250000  66102.546880

               Close     Adj Close  Volume     CloseUSD
0         528.690002    528.690002     0.0          NaN
1         527.210022    527.210022     0.0          NaN
2         527.840027    527.840027     0.0          NaN
3         531.119995    531.119995     0.0          NaN
4         532.070007    532.070007     0.0          NaN
...              ...           ...     ...          ...
104217  66238.929690  66238.929690     0.0  4636.725078
104218  66054.921880  66054.921880     0.0  4623.844532
104219  66076.679690  66076.679690     0.0  4625.367578
104220  66108.226560  66108.226560     0.0  4627.575859
104221  66940.250000  66940.250000     0.0  4685.817500

[216679 rows x 9 columns]

In [26]:
df_index_info_without_currency = df_index_info.drop(columns='Currency')

df_all_info = pd.merge(df_index_processed, df_index_info_without_currency, how='left', on='Index')
print(df_all_info)

          Index        Date          Open          High           Low  \
0           HSI  1986-12-31   2568.300049   2568.300049   2568.300049
1           HSI  1987-01-02   2540.100098   2540.100098   2540.100098
2           HSI  1987-01-05   2552.399902   2552.399902   2552.399902
3           HSI  1987-01-06   2583.899902   2583.899902   2583.899902
4           HSI  1987-01-07   2607.100098   2607.100098   2607.100098
...         ...         ...           ...           ...           ...
104219  J203.JO  2021-05-25  66054.921880  66812.453130  66022.976560
104220  J203.JO  2021-05-26  66076.679690  66446.367190  66030.351560
104221  J203.JO  2021-05-27  66108.226560  66940.250000  66102.546880
104222  J203.JO  2021-05-28  66940.250000  67726.562500  66794.609380
104223  J203.JO  2021-05-31  67554.859380  68140.851560  67554.859380

               Close     Adj Close  Volume     CloseUSD        Region  \
0        2568.300049   2568.300049     0.0   333.879006     Hong Kong
1        2540.100098   2540.100098     0.0   330.213013     Hong Kong
2        2552.399902   2552.399902     0.0   331.811987     Hong Kong
3        2583.899902   2583.899902     0.0   335.906987     Hong Kong
4        2607.100098   2607.100098     0.0   338.923013     Hong Kong
...              ...           ...     ...          ...           ...
104219  66076.679690  66076.679690     0.0  4625.367578  South Africa
104220  66108.226560  66108.226560     0.0  4627.575859  South Africa
104221  66940.250000  66940.250000     0.0  4685.817500  South Africa
104222  67554.859380  67554.859380     0.0  4728.840157  South Africa
104223  67964.039060  67964.039060     0.0  4757.482734  South Africa

                           Exchange
0          Hong Kong Stock Exchange
1          Hong Kong Stock Exchange
2          Hong Kong Stock Exchange
3          Hong Kong Stock Exchange
4          Hong Kong Stock Exchange
...                             ...
104219  Johannesburg Stock Exchange
104220  Johannesburg Stock Exchange
104221  Johannesburg Stock Exchange
104222  Johannesburg Stock Exchange
104223  Johannesburg Stock Exchange

[104224 rows x 11 columns]

In [11]:
# Data Cleaning and Preprocessing

null_count = df_index_processed.isnull().sum()
print("Null count \n", null_count)

rows_with_nulls = df_index_processed[df_index_processed.isnull().any(axis=1)]
print("rows with nulls \n", rows_with_nulls)

df_index_processed["Date"] = pd.to_datetime(df_index_processed["Date"], errors="coerce")
invalid_dates = df_index_processed[df_index_processed["Date"].isnull()]
print("Invalid dates:\n", invalid_dates)

Null count
 Index           0
Date            0
Open         2204
High         2204
Low          2204
Close        2204
Adj Close    2204
Volume       2204
dtype: int64

rows with nulls
        Index       Date  Open  High  Low  Close  Adj Close  Volume
289      NYA 1967-02-23   NaN   NaN  NaN    NaN        NaN     NaN
26639    HSI 1987-01-01   NaN   NaN  NaN    NaN        NaN     NaN
26659    HSI 1987-01-29   NaN   NaN  NaN    NaN        NaN     NaN
26660    HSI 1987-01-30   NaN   NaN  NaN    NaN        NaN     NaN
26706    HSI 1987-04-06   NaN   NaN  NaN    NaN        NaN     NaN
...      ...        ...   ...   ...  ...    ...        ...     ...
108316  N100 2005-03-28   NaN   NaN  NaN    NaN        NaN     NaN
108511  N100 2005-12-26   NaN   NaN  NaN    NaN        NaN     NaN
110051  N100 2012-01-02   NaN   NaN  NaN    NaN        NaN     NaN
110643  N100 2014-05-01   NaN   NaN  NaN    NaN        NaN     NaN
112090  N100 2019-12-25   NaN   NaN  NaN    NaN        NaN     NaN

[2204 rows x 8 columns]

Invalid dates:
 Empty DataFrame
Columns: [Index, Date, Open, High, Low, Close, Adj Close, Volume]
Index: []